body {
  background-color: #f5f5f5;
}

a {
  color: #1a0dab;
  text-decoration: none;
}

.App {
  max-width: 900px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 120px;
  display: block;
  margin: 20px auto;
}

.App-footer {
  margin: 30px 0;
  text-align: center;
}